.nav
{
    /* background-color: black; */
    position:fixed;
    top:0;
    padding:10px;
    width: 100%;
    height: 70px;
    z-index: 100;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.black
{
    background-color: black;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.logo
{
    position: fixed;
    left: 0; 
    top: 10;
    width: 100%;
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 1rem;
}
.avatar
{
    position: fixed;
    right:20px;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}